.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.idea/
app/assets/images/bujua/*.*
assets/images/bujua/*.*
config/database.yml
public/uploads/
.bundle
db/*.sqlite3*
log/*.log
*.log
/tmp/
doc/
*.swp
*~
.project
.DS_Store
pictures
app/assets/images/thumb
assets/images/thumb
app/assets/images/original/*.*
assets/images/original/*.*

app/assets/images/medium/*.*
assets/images/medium/*.*
