# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

app/assets/images/bujua/*.*
assets/images/bujua/*.*
config/database.yml
public/uploads/
public/thumb/
public/medium/
public/original/
public/big/
public/small/
public/assets/
public/*.*
.bundle
.locum
log/*.log
*.log
/tmp/
doc/
*.swp
*~
.project
.idea/
.DS_Store
pictures
app/assets/images/thumb
assets/images/thumb
app/assets/images/original/*.*
assets/images/original/*.*

app/assets/images/medium/*.*
assets/images/medium/*.*

public/assets/images/thumb
assets/images/thumb
public/assets/images/original/*.*
assets/images/original/*.*

public/assets/images/medium/*.*
assets/images/medium/*.*
db/schema.rb
