<%= form_for(:product, url: process_pictures_admin_products_path, html: {multipart: true}) do |f| %>
  <div class="actions">
    <%= f.submit 'pictures'%>
  </div>
<% end %>

<%= form_for(:product, url: process_products_admin_products_path, html: {multipart: true}, remote: true) do |f| %>
  <div class="actions">
    <%= f.submit 'products' %>
  </div>
<% end %>
