<%= form_for(:product, url: upload_photos_products_path, :html => { :multipart => true }) do |f| %>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo, :multiple => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
